.avatar {
    width: 150px;
    border-radius: 50%;
  }
  
  .teamlist {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .teamitem {
    margin: 20px;
    text-align: center;
  }
  
  ul {
    padding: 0;
  }
  
  li {
    list-style-type: none;
  }

.role {
    font-weight: bold; 
  }